body{

    margin:0;
    font-family:Arial;
    background:#f2f2f2;
}

.topbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    background:#075E54;
    color:white;
}

.topbar button{

    padding:6px 14px;
    cursor:pointer;
}

.container{

    display:flex;
    height:calc(100vh - 45px);
}

.left-panel{

    width:25%;
    background:white;
    padding:20px;
    border-right:1px solid #ddd;
}

.right-panel{

    width:75%;
    display:flex;
    flex-direction:column;
}

#messages{

    flex:1;
    overflow-y:auto;
    padding:20px;
}

.message{

    background:white;
    padding:10px;
    margin:10px 0;
    border-radius:8px;
}

.me{

    background:#DCF8C6;
}

.bottom{

    display:flex;
    padding:20px;
    background:white;
}

.bottom input{

    flex:1;
    padding:10px;
}

.bottom button{

    margin-left:10px;
}